* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-wrapper {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: gray;
}

.todo-wrapper h1 {
    font-family: sans-serif;
    margin: 5px;
    text-align: center;
    color: white;
}

ul,
li {
    list-style: none;
}

.todo-wrapper form input {
    width: 100%;
    height: 40px;
    padding: 7px;
}

.todo-wrapper ul li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(218, 218, 218);
    color: dodgerblue;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
}

.todo-wrapper ul li span {
    text-transform: uppercase;
}

.todo-wrapper ul li i:nth-child(2) {
    margin-left: auto;
    margin-right: 10px;
}

.todo-wrapper ul li i {
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    font-family: sans-serif;
}

.todo-wrapper ul .todo-complete {
    background-color: yellowgreen;
    color: white;
}

.clear-all {
    padding: 10px;
    cursor: pointer;
}